@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #202020;
  }

  #__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
